/*
 * Override technote CSS properties with Rubin Style Dictionary.
 */

@font-face {
  font-family: 'Source Sans 3 VF';
  font-weight: 200 900;
  font-style: normal;
  font-stretch: normal;
  src: url('./SourceSans3VF-Upright.ttf.woff2') format('woff2');
}

@font-face {
  font-family: 'Source Sans 3 VF';
  font-weight: 200 900;
  font-style: italic;
  font-stretch: normal;
  src: url('./SourceSans3VF-Italic.ttf.woff2') format('woff2');
}

:root {
  --tn-component-text-font-family:
    'Source Sans 3 VF', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --tn-component-text-color: var(--rsd-component-text-color);
  --tn-component-toc-header-color: var(--rsd-color-primary-600);
  --tn-component-sidebar-header-color: var(--rsd-color-primary-600);
  --tn-component-toc-level-border-color: var(--rsd-color-primary-600);
}

@supports (font-variation-settings: 'wdth' 222) {
  :root {
    --tn-component-h1-weight: 600;
    --tn-component-h2-weight: 500;
    --tn-component-h3-weight: 600;
    --tn-component-h4-weight: 700;
    --tn-component-h5-weight: 800;
    --tn-component-h6-weight: 800;
  }
}

@media (max-width: 76rem) {
  :root {
    --tn-component-h1-size: 2.4rem;
    --tn-component-h2-size: 1.8rem;
    --tn-component-h3-size: 1.2rem;
    --tn-component-h4-size: 1rem;
    --tn-component-h5-size: 1rem;
    --tn-component-h6-size: 1rem;
  }
}
