[project]
title = "Documenteer"
copyright = "2015-2022 Association of Universities for Research in Astronomy, Inc. (AURA)"
base_url = "https://documenteer.lsst.io"
github_url = "https://github.com/lsst-sqre/documenteer"

[project.python]
package = "documenteer"

[sphinx]
rst_epilog_file = "_rst_epilog.rst"
nitpicky = true
nitpick_ignore = [
  ["py:class", "pybtex.style.formatting.plain.Style"],
  ["py:obj", "sphinx_automodapi.automodapi"],
]
nitpick_ignore_regex = [
  ['py:.*', 'docutils.*'],
  ['py:.*', 'pydantic.*'],
]

[sphinx.intersphinx.projects]
python = "https://docs.python.org/3/"
requests = "https://requests.readthedocs.io/en/latest/"
developer = "https://developer.lsst.io/"
pybtex = "https://docs.pybtex.org/"
sphinx = "https://www.sphinx-doc.org/en/master/"
