name: CI

"on": [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0 # full history for setuptools_scm

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - name: Python install
        run: |
          python -m pip install --upgrade pip
          pip install tox

      - name: Run linters
        run: tox -e lint,docs-lint,packaging

  test:
    runs-on: ubuntu-latest
    needs: [lint]

    strategy:
      matrix:
        python-version:
          - 3.7
          - 3.8
          - 3.9
        sphinx-version:
          - "2"
          - "3"
          - "4"

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0 # full history for setuptools_scm

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Python install
        run: |
          python -m pip install --upgrade pip
          pip install tox

      - name: Run tox
        run: tox -e py-test-sphinx${{ matrix.sphinx-version }}

  typing:
    runs-on: ubuntu-latest
    needs: [lint]

    strategy:
      matrix:
        sphinx-version:
          - "2"
          - "3"
          - "4"

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0 # full history for setuptools_scm

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - name: Python install
        run: |
          python -m pip install --upgrade pip
          pip install tox

      - name: Run mypy
        run: tox -e typing-sphinx${{ matrix.sphinx-version }}

  docs:
    runs-on: ubuntu-latest
    needs: [lint]

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0 # full history for setuptools_scm

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - name: Python install
        run: |
          python -m pip install --upgrade pip
          pip install tox ltd-conveyor

      - name: Build and upload documentation
        run: tox -e docs

      - name: Upload documentation
        if: ${{ github.event_name == 'push' }}
        env:
          LTD_PASSWORD: ${{ secrets.LTD_PASSWORD }}
          LTD_USERNAME: ${{ secrets.LTD_USERNAME }}
        run: |
          ltd upload --gh --dir docs/_build/html --product documenteer

  pypi:

    runs-on: ubuntu-latest
    needs: [test]
    if: startsWith(github.ref, 'refs/tags/')

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0 # full history for setuptools_scm

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - name: Python install
        run: |
          python -m pip install --upgrade pip
          pip install --upgrade setuptools wheel

      - name: Build
        env:
          TWINE_USERNAME: "__token__"
          TWINE_PASSWORD: ${{ secrets.PYPI_SQRE_ADMIN }}
        run: python setup.py sdist bdist_wheel

      - name: Upload
        uses: pypa/gh-action-pypi-publish@master
        with:
          user: __token__
          password: ${{ secrets.PYPI_SQRE_ADMIN }}
